<form
data-ng-submit="submit()"
id="loginForm"
name="loginForm"
class="login-form"
novalidate
>
  <header>
    <h2>Sign in</h2>
  </header>
  <fieldset>
    <div class="relative form-line">
      <input class="material-text" type="email" id="email" name="email" data-ng-model="userData.email"
      required
      >
      <label for="email">Email</label>
      <span class="form-field-error" data-ng-class="{hidden: !loginForm.email.$error.required}">
        This field is required.
      </span>
      <span class="form-field-error" data-ng-class="{hidden: !loginForm.email.$error.email}">
        Must be a valid email.
      </span>
    </div>
    <div class="relative form-line">
      <input class="material-text" type="password" id="password" name="password"
      data-ng-model="userData.password" required>
      <label for="password">Password</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !loginForm.password.$error.required}"
      >This field is required</span>
    </div>
  </fieldset>
  <fieldset class='links'>
    <a class="link" href="#">Forgot password?</a>
    <a class="link" href="#">Resend verification</a>
  </fieldset>
  <fieldset>
    <label>Remember
    <input type="checkbox" data-ng-model="userData.remember" name="remember" id="remember">
    </label>
  </fieldset>
  <p class="error">{{error}}</p>
  <div class="flex-perfect-center-container">
    <button type="submit" class="contract-overlay"
    data-ng-disabled="loginForm.$invalid"
    data-ng-class="{loading: processing}"
    analytics-on="click"
    analytics-event="login-try"
    >
    <span class="label">Login</span>
    <i class="material-icons spinner">refresh</i>
    </button>
  </div>
</form>

