<form
data-ng-submit="resetPassword()"
id="resetForm"
name="resetForm"
class="contract-form"
no-validate
data-ng-if="!done"
>

  <header>
    <h2>Reset Password</h2>
  </header>

  <fieldset>
    <div class="relative form-line">
      <input class="material-text" type="password" id="password" name="password"
      data-ng-model="userData.password" required>
      <label for="password">New Password</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !resetForm.password.$error.required}"
      >This field is required</span>
    </div>
  </fieldset>

  <p class="error">{{error}}</p>
  <div class="flex-perfect-center-container">
    <button type="submit" class="contract-overlay"
    data-ng-disabled="resetForm.$invalid"
    data-ng-class="{loading: processing}"
    analytics-on="click"
    analytics-event="reset-confirm"
    >
    <span class="label">Confirm</span>
    <i class="material-icons spinner">refresh</i>
    </button>
  </div>
</form>

<section class="flow-text" data-ng-if="done">
  <p>Password reset successfully, you may now login.</p>
</section>