<nav id="publicNavbar" class="top-nav">
  <div class="burger-wrap" data-click-toggle="open"
  data-click-toggle-target=".top-nav">
    <div class="burger-menu"></div>
  </div>
  
  <ul>
    <li class="btn-green" data-ui-sref-active="active"><a data-ui-sref="public.login">Login</a></li>
    <li class="btn-red" data-ui-sref-active="active"><a data-ui-sref="public.signup">Sign up</a></li>
    <li class="btn-blue" data-ui-sref-active="active"><a data-ui-sref="public.contact">Contact</a></li>
    <li class="btn-blue" data-ui-sref-active="active"><a data-ui-sref="public.about">About</a></li>
  </ul>
</nav>
<section data-ui-view="pageContent"></section>