<form
data-ng-submit="submit()"
id="signupForm"
name="signupForm"
class="contract-form"
novalidate
>
  <header>
    <h2>Create Account</h2>
  </header>
  <fieldset>
    <div class="relative form-line">
      <input class="material-text" type="email" id="email" name="email" data-ng-model="userData.email"
      data-guc-email
      required
      >
      <label for="email">Email</label>
      <span class="form-field-error" data-ng-class="{hidden: !signupForm.email.$error.required}">
        This field is required.
      </span>
      <span class="form-field-error" data-ng-class="{hidden: !signupForm.email.$error.guc_email}">
        Must be a valid guc email.
      </span>
    </div>
    
    <div class="relative form-line">
      <input class="material-text" type="password" id="password" name="password"
      data-ng-model="userData.password" data-ng-minlength="2" required>
      <label for="password">Password</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !signupForm.password.$error.required}"
      >This field is required</span>
      <span class="form-field-error"
      data-ng-class="{hidden: !signupForm.password.$error.minlength}"
      >Must be at least two characters long</span>
    </div>

    <div class="relative form-line">
      <input class="material-text" type="text" id="name" name="name" data-ng-model="userData.name"
      required
      >
      <label for="name">Full Name (Mohamed Ibrahim Ayman)</label>
      <span class="form-field-error" data-ng-class="{hidden: !signupForm.name.$error.required}">
        This field is required.
      </span>
    </div>

    
  </fieldset>
  <fieldset data-ng-if="isStudent()">
    <div class="relative form-line">
      <input class="material-text" type="text" id="major" name="major" data-ng-model="userData.major" required>
      <label for="major">Major</label>
      <span class="form-field-error" data-ng-class="{hidden: !signupForm.major.$error.required}">
        This field is required.
      </span>
    </div>

    <div class="relative form-line">
      <input class="material-text" type="text" id="guc_id" name="guc_id" data-ng-model="userData.guc_id"
      data-guc-id
      required>
      <label for="guc_id">GUC ID (25-1337)</label>
      <span class="form-field-error" data-ng-class="{hidden: !signupForm.guc_id.$error.required}">
        This field is required.
      </span>
      <span class="form-field-error" data-ng-class="{hidden: !signupForm.guc_id.$error.guc_id}">
        Invalid ID please use the format "25-1337".
      </span>
    </div>
  </fieldset>
  <p class="error">{{error}}</p>
  <div class="flex-perfect-center-container">
    <button type="submit" class="contract-overlay"
    data-ng-disabled="signupForm.$invalid"
    data-ng-class="{loading: processing}"
    >
    <span class="label">Submit</span>
    <i class="material-icons spinner">refresh</i>
    </button>
  </div>
</form>

