

.courses-list {

  .course-item {
    display: block;
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }

    box-shadow: 0px 0px 0.2em 0px rgba(0, 0, 0, 0.3);

    &.course-accent-one {
      &:hover {
        background: $list-accent-one;
      }
    }

    &.course-accent-two {
      &:hover {
        background: $list-accent-two;
      }
    }

    &.course-accent-three {
      &:hover {
        background: $list-accent-three;
      }
    }
  }

  


}

#coursesWrapper {
  header {
    margin-bottom: 1em;
    text-align: center;
  }
}