

.courses-list {

  .course-item {
    display: block;
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  &.course-accent-one {

  }

  &.course-accent-two {

  }

  &.course-accent-three {

  }


}

#coursesWrapper {
  header {
    margin-bottom: 1em;
    text-align: center;
  }
}