// Display and visibility
.hidden {
  visibility: hidden;
}

.visibile {
  visibility: visible;
}

.display-none {
  display: none;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}
