// flexboxes everywhere!

.flex-row-between {
  @include display-flex();
  @include flex-flow(row, nowrap);
  @include justify-content(space-between);
}

.flex-row-center {
  @include display-flex();
  @include flex-flow(row, nowrap);
  @include justify-content(center);
}

.flex-column-center {
  @include display-flex();
  @include flex-flow(column, nowrap);
  @include justify-content(center);
}

.flex-column-between {
  @include display-flex();
  @include justify-content(space-between);
  @include flex-flow(column, nowrap);
}

.flex-perfect-center-container {
  @include align-items(center);
  @include display-flex();
  @include justify-content(center);
}

.flex-wrap {
  @include flex-wrap(wrap);
}

.flex-column {
  @include flex-direction(column);
}
