// utility classes

@import 'overflow-utility';
@import 'margin-utility';
@import 'display-utility';
@import 'flex-utility';
@import 'font-utility';

.select-none {
  user-select: none;
}
.clear-both {
  clear: both;
}

.form-line {
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

.max-width {
  width: 100%;
}

.max-height {
  height: 100%;
}

.max-screen {
  height: 100vh;
  width: 100vw;
}

.color-red {
  color: red;
}

.center-pseudo {
  display: inline-block;
  text-align: center;
  &::before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0px;
    vertical-align: middle;
  }
}

.break-word {
  word-wrap: break-word;
}

.hypens {
  hyphens: auto;
}

.relative {
  position: relative;
}

// z-index helpers

@for $val from 1 through 5 {
  .z-index-#{$val} {z-index: $val;}
}

