.submissions-list {

  .submission-item {
    display: block;
    padding: .6em;
    margin-bottom: 1em;
    border-radius: .8em;

    &:not(.btn-green){
      border-width: 5px;
      border-style: solid;
    }
    transition: all .3s ease;

    &.success-submission {
      border-color: $md-clr-green-500;
      background: lighten($md-clr-green-500, 30%);
    }

    &.partial-submission {
      border-color: $md-clr-yellow-500;
      background: lighten($md-clr-yellow-500, 30%);
    }

    &.error-submission {
      border-color: $md-clr-deep-orange-500;
      background: lighten($md-clr-deep-orange-500, 30%);
    }

    &.processing-submission {
      border-color: black;
    }

  }
}


.submissions-wrapper {
  margin-top: 1em;

  header {
    text-align: center;
    margin-bottom: 1em;
  }

}

#submissionsWrapper > header {
  text-align: center;
  margin-bottom: 1em;
}

#submissionsWrapper {
  margin-bottom: .5;

  .search-controls {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 4em;
  }

}
