.submissions-list {
  .submission-item {
    display: block;
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    border-style: solid;
    border-width: 1px;
    @media(min-resolution: 2dppx) {
      border-width: 2px;
    }
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }
}


.submissions-wrapper {
  margin-top: 1em;
  header {
    text-align: center;
    margin-bottom: 1em;
  }
  .pagination-controls {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    button[disabled] {
      cursor: not-allowed;
    }
  }
}

#submissionsWrapper > header {
  header {
    text-align: center;
    margin-bottom: 1em;
  }
}