.submission {
  text-transform: none;

  .float-wrapper {
    clear: both;
    position: relative;
    padding: 1.5em;
  }

  .results-wrapper {
    padding: .5em;
  }

}

.team-grade-wrapper {
  margin-top: 1em;
  margin-bottom: 1em;
  header {
    text-align: center;
    margin-bottom: 0.5em;
  }
}
