<h1>Submissions download for <%= @bundle.project.name %> is ready</h1>


<p> Click <a href="http://evaluator.in/#/teacher/bundle/<%= @bundle.id %>">here</a></p>

<p>Or copy paste http://evaluator.in/#/teacher/bundle/<%= @bundle.id %></p>