.suites-list {

  .suite-item {
    display: block;
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    border-style: solid;
    border-width: 1px;
    @media(min-resolution: 2dppx) {
      border-width: 2px;
    }
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
  }


}

#suitesWrapper {
  margin-top: 1em;
  header {
    margin-bottom: 1em;
    text-align: center;
  }
}