.suites-list {
  .suite-item {
    display: block;
    padding: 0.6em;
    margin-bottom: 2em;
    border-radius: 0.8em;
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
    &:not(.pseudo-item) {
    }
  }

  .cases-list {
    margin-left: 0.8em;
    max-height: 10em;
    overflow: auto;
  }

}

#suitesWrapper {
  margin-top: 1em;
  header {
    margin-bottom: 1.5em;
    text-align: center;
  }
}
