.suite {

  .suite-name {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2em;
  }

  .suite-detail {
    margin-left: 0.8em;
  }

  .float-wrapper {
    clear: both;
    position: relative;
    padding: 1.5em;
  }
  p {
    padding-bottom: 1em;
    &:last-child {
      padding-bottom: 0px;
    }
  }

  .processing-text {
    vertical-align: middle;
  }
  
}
