<div class="container">
    <div class="row top-buffer text-center" ng-show="loadingStudents">
        <div class="col-md-6">
            <img ng-src="images/spin.gif">
        </div>
    </div>
    <div class="row top-buffer" dir-paginate="student in students | itemsPerPage: studentsPerPage" total-items="totalStudents" pagination-id="courseStudents">
        <div class="col-md-3 col-lg-3">
            <a href="#{{student.url}}" ><span class="glyphicon glyphicon-user"></span> {{student.name}}</a>
        </div>
        <div class="col-md-3 col-lg-3">
            <a href="mailto:{{student.email}}"><span class="glyphicon glyphicon-envelope"></span> {{student.email}}</a>
        </div>
    </div>
</div>
<div class="text-center">
    <dir-pagination-controls pagination-id="courseStudents" template-url="app/dirPagination.tpl.html" on-page-change="loadStudentsPage(newPageNumber)"></dir-pagination-controls>
</div>


<div ng-if="students.length == 0 && !loadingStudents" class="text-center">
    <p>This course doesn't have any students!</p>
</div>

