<section ng-if="showCreation">
    <!-- Project Creation -->
    <section ng-if="isTeacher" style="padding-bottom: 200px;">
        <div class="container pull-left">
            <div class="row text-center" ng-if="creating">
                <img id="spinner" ng-src="images/spin.gif">
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h5 class="text-info">Create new project</h5>
                    <form>
                        <div class="form-group">
                            <label for="newProjectName">Name</label>
                            <input type="text" name="newProjectName" id="newProjectName" class="form-control" ng-model="newProject.name" placeholder="Project Name" required>
                        </div>
                        <div class="form-group">
                            <label for="testFiles">Test Files</label>
                            <input type="file" id="testFiles" name="testFiles"
                            ng-file-select ng-model="newProject.tests" ng-multiple="true">
                        </div>
                        <div class="form-group">
                            <label for="dueDate">Due Date</label>
                            <input type="date" ng-model="newProject.due_date" ng-required="">
                        </div>
                        <button type="submit" class="btn btn-default" ng-click="createProject()">Create!</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- List projects -->
<div class="container">
    <div class="row text-center" ng-if="!loaded">
        <img id="spinner" ng-src="images/spin.gif">
    </div>
    <div class="row" ng-repeat="project in projects">
        <div class="col-md-3 col-lg-3">
            <h4><a href="#{{project.url}}">{{project.name}}</a></h4>
            <p class="text-muted text-center">Since {{project.created_at}}</p>
        </div>
    </div>
</div>

<div ng-if="loaded && projects.length == 0" class="text-center">
<p>This course doesn't have any projects!</p>
</div>