<div class="container">
    <div class="row top-buffer text-center" ng-show="loadingTeachers">
        <div class="col-md-6">
            <img ng-src="images/spin.gif">
        </div>
    </div>
<div class="row top-buffer" dir-paginate="teacher in teachers | itemsPerPage: teachersPerPage" total-items="totalTeachers" pagination-id="courseTeachers">
        <div class="col-md-3 col-lg-3">
            <a href="#{{teacher.url}}" ><span class="glyphicon glyphicon-user"></span> {{teacher.name}}</a>
        </div>
        <div class="col-md-3 col-lg-3">
            <a href="mailto:{{teacher.email}}"><span class="glyphicon glyphicon-envelope"></span> {{teacher.email}}</a>
        </div>
    </div>
</div>
<div class="text-center">
    <dir-pagination-controls pagination-id="courseTeachers" template-url="app/dirPagination.tpl.html" on-page-change="loadTeachersPage(newPageNumber)"></dir-pagination-controls>
</div>

<div ng-if="!loadingTeachers && teachers.length == 0" class="text-center">
<p>This course doesn't have any teachers!</p>
</div>

<div class="row text-center" ng-if="!loaded">
    <img id="spinner" ng-src="images/spin.gif">
</div>