<section ng-if="showCreation && isTeacher" style="padding-bottom: 20px;">
<!-- Create Project -->
    <h4 class="text-primary text-center">Create new project</h4>
    <div class="text-center" ng-if="creating">
        <p class="text-info">Creating new project<span class="ellipsis_animated-inner">
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </span></p>
    </div>
    <form class="form-horizontal" ng-if="!creating">
        <div class="form-group">
            <label for="newProjectName" class="control-label col-sm-2">Name</label>
            <div class="col-sm-10">
                <input type="text" name="newProjectName" id="newProjectName" class="form-control" ng-model="newProject.name" placeholder="Project Name" required>
            </div>
        </div>
        <div class="form-group">
            <label for="testFiles" class="control-label col-sm-2">Test Files</label>
            <div class="col-sm-10">
                <input type="file" id="testFiles" class="form-control" name="testFiles"
                ng-file-select ng-model="newProject.tests" ng-multiple="true">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Due Date</label>
            <div class="dropdown col-sm-10">
              <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput" ><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="newProject.due_date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
              </ul>
            </div>
        </div>
        <div class="form-group text-center">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary" ng-click="createProject()">Create Project!</button>
            </div>
        </div>
    </form>
</section>
<!-- List projects -->
<div class="container">
    <div class="row text-center" ng-if="!loaded">
        <img id="spinner" ng-src="images/spin.gif">
    </div>
    <div class="row" ng-repeat="project in projects">
        <div class="col-md-3 col-lg-3">
            <h4><a href="#{{project.url}}">{{project.name}}</a></h4>
            <p class="text-muted text-center">Due Date {{project.due_date_pretty}}</p>
            <p class="text-muted text-center">Since {{project.created_at_pretty}}</p>
        </div>
    </div>
</div>

<div ng-if="loaded && projects.length == 0" class="text-center">
<p>This course doesn't have any projects!</p>
</div>