<div class="container">
    <div class="row top-buffer" ng-repeat="student in students">
        <div class="col-md-3 col-lg-3">
            <a href="#{{student.url}}" ><span class="glyphicon glyphicon-user"></span> {{student.name}}</a>
        </div>
        <div class="col-md-3 col-lg-3">
            <a href="mailto:{{student.email}}"><span class="glyphicon glyphicon-envelope"></span> {{student.email}}</a>
        </div>
    </div>
</div>

<div ng-if="loaded && students.length == 0" class="text-center">
<p>This course doesn't have any students!</p>
</div>

<div class="row text-center" ng-if="!loaded">
    <img id="spinner" ng-src="images/spin.gif">
</div>