<section ng-if="loaded">
  <section ng-if="ep == 'projects'">
    <h1>{{course.name}} Projects</h1>
  <section ng-include="'partials/course_projects.html'" ng-controller="CourseProjectsCtrl"></section>
</section>
<section ng-if="ep == 'tas'">
  <h1 class="text-primary">{{course.name}} Teachers</h1>
  <section ng-include="'partials/course_teachers.html'" ng-controller="CourseTeachersCtrl">
  </section>
</section>
<section ng-if="ep == 'students'">
  <h1 class="text-primary">{{course.name}} Students</h1>
  <section ng-include="'partials/course_students.html'" ng-controller="CourseStudentsCtrl">
  </section>
</section>
</section>