<section ng-controller="MessageCtrl">

    <div class="text-center container">
        <div class="row alert alert-danger alert-dismissable" ng-repeat="message in errorMessages" role="alert">
            <button type="button" class="close alert-close" ng-click="removeErrorMessage($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{message}}</strong>
        </div>
    </div>

    <div class="text-center container">
        <div class="row alert alert-success alert-dismissable" ng-repeat="message in infoMessages" role="alert">
            <button type="button" class="close alert-close" ng-click="removeInfoMessage($index)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>{{message}}</strong>
        </div>
    </div>

</section>