<div class="container-fluid">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation"  ng-controller="NavbarCtrl">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ng-class="{'active': currentLink() == 'home' }" href="#/home">JPR</a>
      </div>
      <center>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
            <li ng-class="{'active': currentLink() == 'courses' }" ng-if="Auth.isLoggedIn()"><a href="#/courses">Courses</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-if="Auth.isLoggedIn()">
          <li ng-class="{'active': currentLink() == Auth.getUser().name}"><a href="#{{Auth.getUser().url}}">Hello {{Auth.getUser().name}}</a></li>
          <li><a href='#/home' ng-click="Auth.clear()">Logout</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" >
          <li ng-if="!Auth.isLoggedIn()" ng-class="{'active': currentLink() == 'home' }"><a href="#/home">Login/Signup</a></li>
        </ul>
      </div>
      </center>
    </div>
  </div>
</div>  