<section ng-if="alert">
<div class="alert {{alert.type}} alert-dismissiable" role="alert">
<button id="projectAlertDismiss" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>{{alert.message}}</strong>
</div>
</section>
<section ng-if="loaded">

<div class="page-header">
  <h1 class="text-primary">{{project.name}}</h1>
</div>
<!-- Current Submissions -->
<p class="lead text-info" ng-if="submissions.length == 0">No submissions, yet!</p>

<div class="container">
<div class="row" ng-repeat="submission in submissions">

</div>
</div>


<!-- Upload Submissions -->
<section ng-if="isStudent && project.can_submit">
    <form>
        <div class="form-group">
        <label for="codeFile">Code</label>
        <input type="file" id="codeFile" name="codeFile" ng-file-select ng-model="code.file"
        ng-multiple="false" required>
        </div>
        <button type="submit" ng-click="submitCode()" class="btn btn-primary">Submit</button>
    </form>
</section>

</section>