<section data-ng-if="loaded">
    <div class="page-header">
         <button type="button" class="btn btn-default pull-right" ng-if="isTeacher" aria-label="Edit" data-toggle="collapse" data-target="#projectEdit" aria-expanded="false" aria-controls="projectEdit">Edit <i class="glyphicon glyphicon-edit"></i>
        </button>
        <h1 class="text-primary">{{project.name}}</h1>
    </div>
    <div class="row collapse" id="projectEdit" ng-if="isTeacher">
        <div class="col-md-12">
            <form id="projectEditForm" class="form-horizontal top-buffer">
                <div class="form-group" ng-class="{'has-error': dateError}">
                    <label for="testFiles" class="control-label col-sm-2">Test Files</label>
                    <div class="col-sm-5">
                        <input type="file" id="testFiles" class="form-control" name="testFiles" ng-file-select ng-model="project.tests" ng-multiple="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Due Date</label>
                    <div class="dropdown col-sm-5">
                        <a class="dropdown-toggle" id="project_due_date" role="button" data-toggle="dropdown" data-target="#" href="">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="due_date"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker ng-model="due_date" data-datetimepicker-config="{ dropdownSelector: '#project_due_date' }" data-on-set-time="updateDate(newDate, oldDate)"></datetimepicker>
                        </ul>
                    </div>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="project.published"> Publish project
                    </label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" ng-click="updateProject()" />
                          Update Project
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <div class="row" ng-if="project.tests.length > 0 && isTeacher">
        <div class="col-md-12">
            <h4 class="text-primary">Test Files <span class="glyphicon glyphicon-plus" data-toggle="collapse" id="projectTestFilesExpand" data-target="#projectTestFiles"></span></h4>
            <div ng-if="isTeacher" id="projectTestFiles" class="row collapse">
                <div class="col-md-12" ng-repeat="test in project.tests">
                    <a class="text-primary clickable" href="" ng-click="downloadHandler(test.download_url)">{{test.name}}</a>
                </div>
            </div>
        </div>
    </div>


    <form class="form-horizontal" ng-if="isStudent && project.can_submit">
        <div class="form-group">
            <label for="codeFile" class="control-label col-sm-2">Code</label>
            <div class="col-sm-5">
                <input type="file" id="codeFile" name="codeFile" data-ng-file-select data-ng-model="code.file" data-ng-multiple="false" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5">
                <button type="submit" data-ng-click="submitCode()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

    <div class="row">
        <!-- Upload Submissions -->
        <!-- Current Submissions -->
        <p class="lead text-info col-md-12" data-ng-if="submissions.length == 0">No submissions, yet!</p>
        <div class="panel-group col-md-12" id="submissionsAccordion">
            <div dir-paginate="submission in submissions | itemsPerPage: submissionsPerPage" total-items="totalSubmissions"
            class="panel"
            data-ng-class="{'panel-info':!submission.processed, 'panel-danger':submission.processed && !submission.compile_status, 'panel-success': submission.processed && submission.compile_status && submission.all_tests_passed, 'panel-warning': submission.processed && submission.compile_status && !submission.all_tests_passed}">
            <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" class="clickable" data-parent="#submissionsAccordion" data-target="#{{submission.id}}" >

                    <span data-ng-if="!submission.processed" class="pull-right"><img id="spinner" ng-src="images/spin.gif"></span>

                    <span data-ng-if="submission.processed && submission.compile_status" class="pull-right"><span ng-if="submission.tests.length">{{submission.tests_passed_count}}/{{submission.tests.length}}</span> <i class="glyphicon glyphicon-ok-circle"></i></span>

                    <span data-ng-if="submission.processed && !submission.compile_status" class="pull-right"><span ng-if="submission.tests.length">{{submission.tests_passed_count}}/{{submission.tests.length}}</span> <i class="glyphicon glyphicon-remove-circle"></i></span>

                    Submission {{submission.id}} | {{submission.created_at_pretty}} | by {{submission.submitter.name}}
                  </a>
                </h4>
            </div>
            <div id="{{submission.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>{{submission.compiler_out}}</pre>

                    <div class="panel-group" id="{{submission.id}}Accordion">
                        <div data-ng-repeat="test in submission.tests" data-ng-class="{'panel':true, 'panel-success':test.success, 'panel-danger':!test.success}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a data-toggle="collapse" data-parent="#{{submission.id}}Accordion" data-target="#{{submission.id}}{{test.name}}" class="clickable" >
                                    <span data-ng-if="test.success" class="pull-right text-success"><i class="glyphicon glyphicon-ok-circle"></i></span>
                                    <span data-ng-if="!test.success" class="pull-right text-danger"><i class="glyphicon glyphicon-remove-circle"></i></span>
                                    {{test.name}}
                                  </a>
                                </h4>
                            </div>
                            <div id="{{submission.id}}{{test.name}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div data-ng-class="{'list-group':true, 'list-group-item-success':case.passed, 'list-group-item-danger':!case.passed}">
                                        <div data-ng-repeat="case in test.cases" class="list-group-item">
                                            <div class="list-group-item-heading">
                                                <span data-ng-if="case.passed" class="text-success"><i class="glyphicon glyphicon-ok-circle"></i></span>
                                                <span data-ng-if="!case.passed" class="text-danger"><i class="glyphicon glyphicon-remove-circle"></i></span> {{case.name}}
                                            </div>
                                            <pre data-ng-if="!case.passed" class="list-group-item-text">{{case.detail}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-block btn-info" ng-click="downloadHandler(submission.download_url)">Download</button>
                </div>
            </div>
            </div>

            <dir-pagination-controls class="text-center" template-url="app/dirPagination.tpl.html" on-page-change="pageChanged(loadSubmissionsPage)"></dir-pagination-controls>
        </div>
    </div>

</section>
