<div class="row text-center">
    <div class="col-md-6">
        <img ng-src="images/spin.gif" ng-if="loadingSubmissions" />
    </div>
</div>
<div class="row">
    <!-- Current Submissions -->
    <p class="lead text-info col-md-12" data-ng-if="submissions.length == 0 && !loadingSubmissions">No submissions, yet!</p>
    <div class="panel-group col-md-12" id="submissionsAccordion">
        <div dir-paginate="submission in submissions | itemsPerPage: submissionsPerPage" total-items="totalSubmissions" class="panel" data-ng-class="{'panel-info':submission.processing, 'panel-danger':submission.error, 'panel-success': submission.passing, 'panel-warning': submission.failing}" current-page="currentPage">
            <div class="panel-heading">
                <h4 class="panel-title">
              <a data-toggle="collapse" class="clickable" data-parent="#submissionsAccordion" data-target="#{{submission.id}}" >

                <span data-ng-if="submission.processing" class="pull-right"><img id="spinner" ng-src="images/spin.gif"></span>

                <span data-ng-if="submission.passing" class="pull-right"><span ng-if="submission.tests.length">{{submission.cases_passed_count}}/{{submission.cases_count}}</span><i class="glyphicon glyphicon-ok-circle"></i></span>

                <span data-ng-if="submission.error || submission.failing" class="pull-right"><span ng-if="submission.tests.length">{{submission.cases_passed_count}}/{{submission.cases_count}}</span> <i class="glyphicon glyphicon-remove-circle"></i></span>

                Submission {{submission.id}} | {{submission.created_at_pretty}} | by {{submission.submitter.name}}
              </a>
            </h4>
            </div>
            <div id="{{submission.id}}" class="panel-collapse collapse">
                <div class="panel-body">
                    <pre>{{submission.compiler_out}}</pre>
                    <div class="panel-group" id="{{submission.id}}Accordion">
                        <div data-ng-repeat="test in submission.tests" data-ng-class="{'panel':true, 'panel-success':test.success, 'panel-danger':!test.success}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                              <a data-toggle="collapse" data-parent="#{{submission.id}}Accordion" data-target="#{{submission.id}}{{test.name}}" class="clickable" >
                                <span data-ng-if="test.success" class="pull-right text-success"><i class="glyphicon glyphicon-ok-circle"></i></span>
                                <span data-ng-if="!test.success" class="pull-right text-danger"><i class="glyphicon glyphicon-remove-circle"></i></span>
                                <span class="pull-right">{{countPassed(test.cases)}}/{{test.cases.length}} </span>
                                {{test.name}}
                              </a>
                            </h4>
                            </div>
                            <div id="{{submission.id}}{{test.name}}" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div data-ng-class="{'list-group':true, 'list-group-item-success':case.passed, 'list-group-item-danger':!case.passed}">
                                        <div data-ng-repeat="case in test.cases" class="list-group-item">
                                            <div class="list-group-item-heading">
                                                <span data-ng-if="case.passed" class="text-success"><i class="glyphicon glyphicon-ok-circle"></i></span>
                                                <span data-ng-if="!case.passed" class="text-danger"><i class="glyphicon glyphicon-remove-circle"></i></span> {{case.name}}
                                            </div>
                                            <pre data-ng-if="!case.passed" class="list-group-item-text">{{case.detail}}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-center">
                    <button class="btn btn-block btn-info" ng-click="downloadHandler(submission.download_url)">Download</button>
                </div>
            </div>
        </div>
        <div class="text-center">
            <dir-pagination-controls template-url="app/dirPagination.tpl.html" on-page-change="loadSubmissionsPage(newPageNumber)"></dir-pagination-controls>
        </div>
    </div>
</div>
