<nav class="top-nav">
  <div class="menu-wrap"
  data-click-toggle="open"
  data-click-toggle-target="#pageWrap">
    <i class="menu-open material-icons">menu</i>
    <i class="menu-close material-icons">close</i>
  </div>
  <ul class="nav-menu" data-ng-controller="NavigationController"
  data-click-remove="open"
  data-click-remove-target="#pageWrap"
  >
    <li data-ng-if="signedIn()">
      <a class="icon-link" data-ui-sref="private.courses"
      data-ui-sref-active="active"><i class="icon fi flaticon-open large-fi"></i> courses</a>
    </li>
    <li data-ng-if="signedIn()">
      <a class="icon-link" data-ui-sref="private.profile"
      data-ui-sref-active="active"><i class="icon material-icons">person</i> profile</a>
    </li>
    <li data-ng-if="signedIn() && isTeacher">
      <a class="icon-link" data-ui-sref="private.teacher.portal"
      data-ui-sref-active="active"><i class="icon fi flaticon-education large-fi"></i> teacher portal</a>
    </li>
    <li data-ng-if="!signedIn()">
      <a class="icon-link" data-ui-sref="public.signup"
      data-ui-sref-active="active"><i class="icon material-icons">person_add</i> Sign Up</a>
    </li>

    <li data-ng-if="signedIn()">
      <a class="icon-link" data-ui-sref="private.contact"
      data-ui-sref-active="active"><i class="icon material-icons">mail</i> contact</a>
    </li>

    <li data-ng-if="!signedIn()">
      <a class="icon-link" data-ui-sref="public.contact"
      data-ui-sref-active="active"><i class="icon material-icons">mail</i> contact</a>
    </li>

    <li data-ng-if="signedIn()">
      <a class="icon-link" data-ui-sref="private.about"
      data-ui-sref-active="active"><i class="icon fi flaticon-signs large-fi"></i> about</a>
    </li>

    <li data-ng-if="!signedIn()">
      <a class="icon-link" data-ui-sref="public.about"
      data-ui-sref-active="active"><i class="icon fi flaticon-signs large-fi"></i> about</a>
    </li>

    <li data-ng-if="signedIn()" data-ng-click="logout()">
      <a class="icon-link"><i class="icon fi flaticon-school large-fi"></i> Log out</a>
    </li>

    <li data-ng-if="!signedIn()">
      <a class="icon-link" data-ui-sref="public.login"
      data-ui-sref-active="active"><i class="icon fi flaticon-exit large-fi"></i> Login</a>
    </li>
  </ul>
</nav>
