/*
Flaticon icon font: Flaticon
Creation date: 16/03/2016 05:00
*/
@font-face {
  font-family: 'Flaticon';
  src: url('fonts/Flaticon.woff2') format('woff2'),
  url('fonts/Flaticon.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}
.fi:before{
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  font-smoothing: antialiased;
}

.flaticon-education:before { content: "\f100"; }
.flaticon-exit:before { content: "\f101"; }
.flaticon-open:before { content: "\f102"; }
.flaticon-school:before { content: "\f103"; }
.flaticon-signs:before { content: "\f104"; }
.flaticon-square:before { content: "\f105"; }

$font-Flaticon-education: "\f100";
$font-Flaticon-exit: "\f101";
$font-Flaticon-open: "\f102";
$font-Flaticon-school: "\f103";
$font-Flaticon-signs: "\f104";
$font-Flaticon-square: "\f105";
