/*
 * Main Layout
 */
@import "vendor/include-media";
@import "vendor/material-color-prefixed";
@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";

body {
  background-color: $main-background;
  font-family: $proxima-nova-stack;
  font-weight: $normal-weight;
  position: relative;
  min-height: 100%;
  padding-bottom: 120px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $proxima-nova-stack;
  font-weight: $bold-weight;
}

.wrapper {
  position: relative;
  max-width: 98vw;
  margin: 0px;
  padding: 0px;
}

a.active {
  pointer-events: none;
  cursor: default;
}

a.link {
  text-decoration: underline;
  color: $blue;
  display: inline-block;
  cursor: pointer;
}

[data-ui-view='pageContent'] {
  margin: 0 auto;
  max-width: 700px;
  width: 94%;
  padding-top: 20vh;
  min-height: calc(100vh - 15vh);

  @include media("height<=600px") {
    padding-top: 15vh;
    min-height: calc(100vh - 8vh);
  }
}

footer {
  max-height: 80px;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid $md-clr-grey-200;
}

.md-datepicker-calendar-pane {
  z-index: 100001;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 100001;
}


@import "utility/main";
@import "animations/main";
@import "generic/main";
@import "public/main";
@import "courses/main";
@import "projects/main";
@import "suites/main";
@import "cases/main";
@import "results/main";
@import "submissions/main";
@import "bundles/main";
@import "users/main";