/*
 * Main Layout
 */
@import "vendor/include-media";
@import "vendor/material-color-prefixed";
@import "partials/variables";
@import "partials/reset";
@import "partials/mixins";
@import "flaticon";

body {
  background-color: $md-clr-blue-500;
  font-family: $proxima-nova-stack;
  font-weight: $normal-weight;
  position: relative;
  min-height: 100%;
  box-sizing: border-box;
  background: $main-background;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $proxima-nova-stack;
  font-weight: $bold-weight;
}

a.active {
  pointer-events: none;
  cursor: default;
}

a.link {
  display: inline-block;
  text-decoration: underline;
  color: $blue;
  cursor: pointer;
}

[data-ui-view='pageContent'] {
  margin: 0 auto;
  padding-top: 15vh;
  min-height: calc(100vh - 15vh);
  max-width: 80vw;
  @include media("width>=875px") {
    max-width: 75vw;
  }
}

footer {
  position: relative;
  max-height: 80px;
  padding: 2rem;
  text-align: center;
}




.md-datepicker-calendar-pane {
  z-index: 100001;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 100001;
}

#pageWrap {
}

@import "utility/main";
@import "animations/main";
@import "generic/main";
@import "public/main";
@import "courses/main";
@import "projects/main";
@import "suites/main";
@import "cases/main";
@import "results/main";
@import "submissions/main";
@import "bundles/main";
@import "users/main";
