<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click="end(false)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Enter verification code</h4>
      </div>
      <div class="modal-body">
        <p>If you don't know your verification code, please raise your hand and ask your procter.</p>

        <form class="form-inline">
          <div class="form-group">
            <label for="verificationCode">Verification code</label>
            <input type="text" ng-model="verification_code" class="form-control" id="verificationCode" placeholder="123">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="end(false)">Cancel</button>
        <button type="button" class="btn btn-primary" ng-click="end(true)">Submit!!!</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->