.results-list {
  padding: 3em;
  .result-item {
    display: block;
    padding: .6em;
    margin-bottom: 1em;
    border-radius: .8em;
    transition: all .3s ease;
    box-shadow: 0 0 .2em 0 rgba(0, 0, 0, .3);
    &.success-result {
    }
    &.error-result {
    }
    &.failed-result {
    }
  }
}


.results-wrapper {
  margin-top: 1em;
  & > header {
    text-align: center;
    margin-bottom: 1em;
  }
}
