.results-list {
  padding: 3em;
  @include media('<tablet') {
    padding: .2rem;
  }

  .result-item {
    display: block;
    padding: .6em;
    margin-bottom: 1em;
    border-radius: .8em;
    transition: all .3s ease;
    border-width: 3px;
    border-style: solid;
    background: $main-background;

    &.success-result {
    }

    &.error-result {
    }

    &.failed-result {
    }
  }
}


.results-wrapper {
  margin-top: 1em;
  & > header {
    text-align: center;
    margin-bottom: 1em;
  }
}
