.result {

  .result-cases-wrapper {
    max-height: 20em;
    padding: 1.8em;
    overflow: auto;
  }
  .result-compilation-error {
    max-width: 100%;
    word-wrap: break-word;
  }
  .message-container {
    max-width: 80%;
  }
}