.result-cases-list {
  .result-case-item {
    display: block;
    padding: .6em;
    margin-bottom: 1em;
    border-radius: .8em;
    border-style: solid;
    border-width: 1px;
    @media(min-resolution: 2dppx) {
      border-width: 2px;
    }
    transition: all .3s ease;
  }
}
