.result-case {
  padding: .4em;
  p {
    padding: .5em;
  }

  .result-case-detail {
    font-size: .5em;
    line-height: 1.2em;
  }

  .result-case-name {
    max-width: 80%;
  }
  .result-head-detail-seperator {
    margin: 0 auto;
    content: '';
    width: 100%;
    border-top: 1px solid black;
    @media screen and (min-resolution: 2dppx) {
      border-top: 2px solid $md-clr-blue-A700;
    }
  }
}
