<md-dialog aria-label="Edit project" ng-cloak>
<md-dialog-content>
<form
class="creation-dialog-form contract-form"
data-ng-submit="update()"
id="projectForm"
name="projectForm"
novalidate
>

  <header>
    <h3>Edit {{project.name}}</h3>
  </header>

  <fieldset>
    <div class="relative form-line">
      <input class="material-text" type="text" id="name" name="name"
      data-ng-model="project.name" required>
      <label for="name">Name</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !projectForm.name.$error.required}"
      >This field is required</span>
    </div>
  </fieldset>

  <fieldset>
    <div class="relative form-line">
      <x-md-datepicker data-md-placeholder="Start Date" data-ng-model="project.start_date_as_date"
      name="startDate" id="startDate" required></x-md-datepicker>
    </div>
    <div class="relative form-line">
       <x-md-datepicker data-md-placeholder="Due Date" data-ng-model="project.due_date_as_date"
      name="startDate" id="startDate" required></x-md-datepicker>
    </div>
  </fieldset>


  <p class="error">{{projectEditError}}</p>

  <div class="flex-perfect-center-container">
    <button type="submit" class="contract-overlay"
    data-ng-disabled="projectForm.$invalid"
    data-ng-class="{loading: processingProject}"
    >
    <span class="label">Update</span>
    <i class="material-icons spinner">refresh</i>
    </button>
  </div>
</form>
</md-dialog-content>
</md-dialog>
