<div class="bundle flex-row-between">
<p class="project-name">{{bundle.project_name}}</p>
<p class="created-at">{{bundle.created_at}}</p>
<p class="teams-only">Teams only: {{bundle.teams_only}}</p>
<p class="size" data-ng-show="bundle.ready">{{bundle.size}}</p>
<md-progress-circular data-ng-if="!bundle.ready" md-mode="indeterminate"></md-progress-circular>
<div class="download-wrapper" data-ng-if="bundle.ready">
<a data-ui-sref="private.teacher.bundle({id: bundle.id})">
  <i class="material-icons clickable-icon">file_download</i>
</a>
</div>
</div>