<div class="submission">

  <div data-ng-if="includeSubmitter"
  class="flex-perfect-center-container"
  data-user
  data-data="submission.submitter"
  data-no-controls="true"
  >

  </div>

  <div class="flex-perfect-center-container">
      <div data-ng-if="!submission.done">
        <p>Processing..</p>
        <div class="flex-perfect-center-container">
          <i class="material-icons spinner">refresh</i>
        </div>
      </div>
      <div data-ng-if="submission.done" class="max-width">
        <div data-ng-if="submission.success">
            <div class="flex-perfect-center-container flex-column">
              <i class="material-icons submission-status-icon check">check</i>
              <p class="grade">{{submission.grade}}/{{submission.max_grade}}</p>
            </div>
          </div>
          <div data-ng-if="submission.partial">
            <div class="flex-perfect-center-container flex-column">
              <i class="material-icons warning submission-status-icon">warning</i>
              <p class="grade">{{submission.grade}}/{{submission.max_grade}}</p>
            </div>
          </div>
          <div data-ng-if="submission.failure">
            <div class="flex-perfect-center-container">
              <i class="material-icons error submission-status-icon">error_outline</i>
            </div>
          </div>
        <p class="created-at">Submitted on: {{submission.created_at}}</p>
        <div class="results-wrapper">
          <header>
            <h3>Results</h3>
          </header>
          <ul class="results-list flow-text">
            <li
            class="result-item"
            data-ng-class="result.state"
            data-result
            data-data="result"
            data-ng-repeat="result in submission.results"></li>
          </ul>
        </div>
      </div>
  </div>

  <div class="float-wrapper">
    <i data-ng-click="download()"
    analytics-on="click"
    analytics-event="submission-download"
    data-ng-hide="noDownload"
    class="material-icons left clickable-icon"
    >file_download</i>
    <i data-ng-click="rerun()"
    analytics-on="click"
    analytics-event="submission-rerun"
    data-ng-show="rerunEnabled"
    class="material-icons right clickable-icon"
    >refresh</i>

  </div>
</div>
