<md-dialog aria-label="Add course" ng-cloak>
<md-dialog-content>
<form
class="creation-dialog-form contract-form"
data-ng-submit="submit()"
id="courseForm"
name="courseForm"
novalidate
>

<header>
  <h3>Create Course</h3>
</header>

<fieldset>
  <div class="relative form-line">
    <input class="material-text" type="text" id="name" name="name"
    data-ng-model="newCourseData.name" required>
    <label for="name">Name (CS 403)</label>
    <span class="form-field-error"
    data-ng-class="{hidden: !courseForm.name.$error.required}"
    >This field is required</span>
  </div>

  <div class="relative form-line">
    <md-input-container class="md-block">
      <label>Description</label>
      <textarea data-ng-model="newCourseData.description" rows="8"
      name="description"
      id="description"
      md-select-on-focus
      required
      ></textarea>
    </md-input-container>
  </div>
</fieldset>

<p class="error">{{courseCreateError}}</p>

<div class="flex-perfect-center-container">
  <button type="submit" class="contract-overlay"
  data-ng-disabled="courseForm.$invalid"
  data-ng-class="{loading: processingCourse}"
  >
  <span class="label">Create</span>
  <i class="material-icons spinner">refresh</i>
  </button>
</div>

</form>
</md-dialog-content>
</md-dialog>
