.users-list {
  margin-top: 1em;
  margin-bottom: 1em;
  overflow: auto;
  .user-item {
    display: block;
    padding: 2em;
    margin: 1em;
    border-radius: 0.8em;
    transition: all .3s ease;
    background-color: $md-clr-green-100;
    &:hover {
      background-color: $md-clr-green-200;
    }

    &.user-accent-one {
      &:hover {
        background: $list-accent-one;
      }
      background: transparentize($list-accent-one, 0.4);
    }

    &.user-accent-two {
      &:hover {
        background: $list-accent-two;
      }
      background: transparentize($list-accent-two, 0.4);
    }

    &.user-accent-three {
      &:hover {
        background: $list-accent-three;
      }
      background: transparentize($list-accent-three, 0.4);
    }
  }
}

#usersWrapper {
  & > header {
    text-align: center;
    margin-bottom: 1em;
  }
  margin-bottom: 0.5em;

  .search-controls {
    width: 100%;
    .checkboxes {
      width: 70%;
      margin: 0 auto;
    }
  }

}