// Fonts
$proxima-nova-stack: proxima-nova, 'Montserrat', 'Roboto', sans-serif;
$thin-weight: 100;
$light-weight: 300;
$normal-weight: 400;
$bold-weight: 700;
$ultra-bold-weight: 900;
// Media query helpers
$bp-small-width: '599px';
$bp-medium-width: '600px';
$bp-large-width: '800px';
$bp-xlarge-width: '1280px';


$small-screen-up: 601px !default;
$medium-screen-up: 993px !default;
$large-screen-up: 1201px !default;
$small-screen: 600px !default;
$medium-screen: 992px !default;
$large-screen: 1200px !default;


$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

// text flow
$range: $large-screen - $small-screen !default;
$intervals: 20 !default;
$interval-size: $range / $intervals !default;

// Colors
$main-background: $md-clr-grey-200;

$green: #00C853;
$blue: #00B0FF;
$red: #D50000;
$yellow: #FFC107;
$amber: #FF8F00;

// Transition functions

$snap: cubic-bezier(1, .005, .24, 1);
$bounce: cubic-bezier(.175, .885, .32, 1.275);
