.actions {



  .action-card {
    display: inline-block;
    margin: .5em;
    cursor: pointer;
    position: relative;
    vertical-align: top;
    transition: all .4s ease;
    transform-origin: 50% 50%;
    padding: 1em;
    color: $md-clr-indigo-500;
    box-shadow: 0 0 .3em 0 rgba(0, 0, 0, .5);
    max-width: 40vw;


    header {
      color: $md-clr-indigo-500;
      margin-bottom: 1em;

    }
    &:hover {
      transform: scale(1.3);
    }
    img {
      width: 40%;
      height: auto;
    }
  }

}
