.contract-overlay {
  transition: all .3s ease;
  overflow: hidden;
  box-shadow: 0px 0px 0px 200000px rgba(0,0,0,0);
  .spinner {
    display: none;
  }

  &.loading {
    z-index: 10;
    box-shadow: 0px 0px 0px 200000px rgba(0,0,0,0.8);
    .spinner {
      display: block;
    }
    .label {
      display: none;
    }
  }
}
