form {
  button[type="submit"] {
    padding: 0.5em;
    width: 10em;
    height: 2em;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 1em;
    border: 2px solid $green;
    background-color: $green;
    position: relative;
    &.loading {
      width: 2em;
      height: 2em;
      border-radius: 50%;
      &, &:hover {
        background-color: $blue;
        border: none;
      }
    }
    &:hover {
      background-color: transparent;
    }
    &[disabled] {
      cursor: not-allowed;
      background: $md-clr-grey-300;
      border: 1px solid $md-clr-grey-300;
    }
  }

  .error {
    padding-bottom: 1em;
    color: $red;
  }
}



.contract-form {

  header {
    margin-bottom: 2em;
    text-align: center;
  }
  fieldset:last-of-type {
    .form-line:last-child {
      margin-bottom: 1em;
    }
  }
  .form-field-error {
    position: absolute;
  }

  .form-line {
    margin-bottom: 4em;
  }

  .links .link {
    display: block;
    padding-top: 0.5em;
    &:first-child {
      padding-top: 0px;
    }
    &:last-child {
      padding-bottom: 0.5em;
    }
  }

}

.creation-dialog-form {
  box-sizing: content-box;
  padding-top: 2em;
}

