form {
  button[type="submit"] {
    padding: 0.5em;
    width: 10em;
    height: 2em;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    border-radius: 1em;
    border: 2px solid $green;
    background-color: $green;
    position: relative;
    &.loading {
      width: 2em;
      height: 2em;
      border-radius: 50%;
      &, &:hover {
        background-color: $blue;
        border: none;
      }
    }
    &:hover {
      background-color: transparent;
    }
    &[disabled] {
      cursor: not-allowed;
      background: $md-clr-grey-300;
      border: 1px solid $md-clr-grey-300;
    }
  }

  .error {
    padding-bottom: 1em;
    color: $red;
  }
}
