
.spinner {
  text-align: center;
  font-size: 2em;
}

.spin-fullscreen-wrap {
  transition: all .3s ease;
  z-index: 300000;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background: transparent;
  text-align: center;
  .spinner-wrap {
    font-size: 5em;
    box-shadow: 0px 0px 0px 200000px rgba(0,0,0,0.8);
  }
  .spinner {
    position: relative;
    font-size: 5em;
    color: white;
    z-index: 2;
    top: 45vh;
  }

}

.clickable-icon {
  cursor: pointer;
}

.check {
  color: $md-clr-green-500;
}

.error {
  color: $md-clr-deep-orange-500;
}

.warning {
  color: $md-clr-yellow-500;
}

.pagination-controls {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  button[disabled] {
    cursor: not-allowed;
  }
}

@import 'material_text';
@import 'contract_overlay';
@import 'top_nav';
@import 'btns';
@import 'forms';
@import 'cards';
