
input.material-text {
  display: block;
  position: relative;
  left: 0px;
  width: 100%;
  background-color: transparent;
  font-size: 1.5em;
  border-bottom: 1px solid $md-clr-grey-500;
  transition: border-bottom-color .3s ease-in;
  cursor: pointer;

  @include media("height<=730px") {
    font-size: 1.3em;
  }

  & ~ label {
    pointer-events: none;
    user-select: none;
    color: $md-clr-grey-500;
    display: block;
    position: absolute;
    z-index: 1;
    font-size: 1.2em;
    top: 0.3em;
    left: 0px;
    width: 100%;
    background-color: transparent;
    transition: top .3s cubic-bezier(.73,.39,.38,.79),
      color .3s cubic-bezier(.73,.39,.38,.79),
      font-size .1s cubic-bezier(.73,.39,.38,.79);

    @include media("height<=730px") {
      font-size: 1em;
    }

  }

  // If user filled it in
  &.ng-valid-required ~ label {
    top: -1em;
    font-size: 1.4em;
    transition: none;
    @include media("height<=730px"){
      font-size: 1.1em;
    }
  }

  &:focus {
    border-bottom-color: $blue;
  }

  // on focus move up
  &:focus ~ label {
    top: -1em;
    color: $blue;
    font-size: 1.4em;
    @include media("height<=730px"){
      font-size: 1.1em;
    }
  }

  // Error messages
  & ~.form-field-error {
    margin-top: 0.3em;
    display: block;
  }

  & ~ .form-field-error {
    color: red;
  }

  &.ng-untouched ~ .form-field-error {
    visibility: hidden;
  }

}