<section id="coursesWrapper">
  <div class="spin-fullscreen-wrap" data-ng-if="loading">
    <div class="spinner-wrap">
    </div>
    <i class="material-icons spinner">refresh</i>
  </div>
  <header>
    <h1>Courses</h1>
  </header>
  <ul class="courses-list"
  data-infinite-scroll='loadMore()'
  data-infinite-scroll-disabled='scrollDisabled'
  data-infinite-scroll-listen-for-event="courses:reflow"
  >
    <li class="course-item btn-green"
    data-ng-if="canAddCourses"
    data-ng-click="showAddDialog($event)"
    >
      <i class="material-icons">add</i>
    </li>
    <li class="course-item"
    data-ng-class="courseClasses[$index % courseClasses.length]"
    data-ng-repeat="course in courses track by $index"
    ><a data-ui-sref="private.course({id: course.id})" data-course data-data="course"
    ></a></li>
  </ul>
</section>
