<div class="spin-fullscreen-wrap" data-ng-if="loading">
  <div class="spinner-wrap">
  </div>
  <i class="material-icons spinner">refresh</i>
</div>
<section id="courseWrapper" data-ng-if="!loading">
<div class="course-ctrls flex-perfect-center-container"
data-ng-if="isTeacher && isAdmin">
  <button class='btn-green' data-ng-if="!course.published" data-ng-click="publish()">Publish</button>
</div>
<x-course data-data="course"></x-course>

<div id="projectsWrapper">
<header>
  <h2>Projects</h2>
</header>
  <ul class="projects-list"
  data-infinite-scroll='loadMore()'
  data-infinite-scroll-disabled='scrollDisabled'
  data-infinite-scroll-listen-for-event="projects:reflow"
  >
    <li class="project-item btn-green"
    data-ng-if="canAddProject"
    data-ng-click="showAddDialog($event)"
    ><i class="material-icons">add</i></li>

    <li class="project-item"
    data-ng-repeat="project in projects track by $index"
    data-ng-class="projectClasses[$index % projectClasses.length]"
    >
      <a data-ui-sref="private.submissions({project_id: project.id})" data-project data-data="project"
      ></a>
    </li>
    <li class="project-item center-pseudo"
    data-ng-show="loadingProjects"
    >
      <i class="material-icons spinner">refresh</i>
    </li>
  </ul>
</div>
</section>
