<div class="spin-fullscreen-wrap" data-ng-if="loading">
  <div class="spinner-wrap">
  </div>
  <i class="material-icons spinner">refresh</i>
</div>

<section id="projectWrapper" data-ng-if="!loading"
>
<div class="project-ctrls flex-row-between">
  <button class="btn-green" data-ng-if="!project.published" data-ng-click="publish()">Publish</button>
  <button class="btn-red" data-ng-if="project.published && isTeacher" data-ng-click="unpublish()">Unpublish</button>
  <button class="btn-green"
  data-ng-if="project.published"><a
  data-ui-sref="private.submissions({project_id: project.id})"
  >Submit</a></button>
</div>
<x-project data-data="project"></x-project>

<div id="suitesWrapper">
<header>
  <h2>Suites</h2>
</header>
  <ul class="suites-list"
  data-infinite-scroll='loadMore()'
  data-infinite-scroll-disabled='scrollDisabled'
  data-infinite-scroll-listen-for-event='suites:reflow'
  >
    <li class="suite-item btn-green pseudo-item"
    data-ng-if="canAddSuite && !project.published"
    data-ng-click="showAddDialog()"
    ><i class="material-icons">add</i></li>
    <li class="suite-item"
    data-ng-repeat="suite in suites track by $index"
    data-ng-class="suitClasses[$index % suitClasses.length]"

    >
    <div
      data-suite data-data="suite"
    ></div>
    </li>

    <li class="suite-item center-pseudo"
    data-ng-if="loadingSuites"
    >
      <i class="material-icons spinner">refresh</i>
    </li>
  </ul>
</div>
</section>