<div class="spin-fullscreen-wrap" data-ng-if="loading">
  <div class="spinner-wrap">
  </div>
  <i class="material-icons spinner">refresh</i>
</div>

<section id="projectWrapper" data-ng-if="!loading"
>
<div class="project-ctrls flex-row-between">
  <button class="btn-green" data-ng-if="!project.published && isAdmin" data-ng-click="publish()">Publish</button>
  <button class="btn-red" data-ng-if="project.published && isAdmin" data-ng-click="unpublish()">Unpublish</button>
  <button class="icon-link" data-ng-if="!project.reruning_submissions && isAdmin" data-ng-click="rerunSubmissions()"><i class="icon material-icons">refresh</i> Rerun Submissions</button>
  <md-button class="md-fab md-mini md-primary" data-ng-if="canEdit" data-ng-click="showEditDialog($event)">
    <md-icon md-font-set="material-icons">mode_edit</md-icon>
  </md-button>
  <a
  data-ui-sref="private.submissions({project_id: project.id})"
  >
  <button class="btn-green"
  data-ng-if="project.published">Submit</button></a>
</div>
<x-project data-data="project"></x-project>

<div id="suitesWrapper">
<header>
  <h2>Suites</h2>
</header>
  <ul class="suites-list"
  data-infinite-scroll='loadMore()'
  data-infinite-scroll-disabled='scrollDisabled'
  data-infinite-scroll-listen-for-event='suites:reflow'
  >
    <li class="suite-item btn-green pseudo-item"
    data-ng-if="canAddSuite && !project.published"
    data-ng-click="showAddDialog($event)"
    ><i class="material-icons">add</i></li>
    <li class="suite-item"
    data-ng-repeat="suite in suites track by $index"
    data-ng-class="suitClasses[$index % suitClasses.length]"

    >
    <div
      data-suite data-data="suite"
      data-parent-project="project"
    ></div>
    </li>

    <li class="suite-item center-pseudo"
    data-ng-if="loadingSuites"
    >
      <i class="material-icons spinner">refresh</i>
    </li>
  </ul>
</div>
</section>
