<nav id="privateNavbar" class="top-nav">
  <div class="burger-wrap" data-click-toggle="open"
  data-click-toggle-target=".top-nav">
    <div class="burger-menu"></div>
  </div>
  <ul data-ng-controller="PrivateNavController">
    <li class="btn-green" data-ui-sref-active="active"><a data-ui-sref="private.courses">courses</a></li>
    <li class="btn-pink"
    data-ui-sref-active="active">
    <a data-ui-sref="private.profile">Profile</a>
    </li>
    <li class="btn-green" data-ui-sref-active="active"
    data-ng-if="isTeacher"
    >
        <a data-ui-sref="private.teacher.portal">Teacher Portal</a>
    </li>
    <li class="btn-blue" data-ui-sref-active="active"><a data-ui-sref="private.contact">Contact</a></li>
    <li class="btn-blue" data-ui-sref-active="active"><a data-ui-sref="private.about">About</a></li>
    <li class="btn-red"
    data-ng-click="logout()"
    ><a>Log out</a></li>
  </ul>
</nav>
<section data-ui-view="pageContent"></section>