.projects-list {
  .project-item {
    display: block;
    padding: 0.6em;
    margin-bottom: 1em;
    border-radius: 0.8em;
    transition: all .3s ease;
    &:hover {
      transform: scale(1.1);
    }
    box-shadow: 0 0 .2em 0 rgba(0, 0, 0, .3);
  }
}


#projectsWrapper {
  margin-top: 1em;
  header {
    text-align: center;
    margin-bottom: 1em;
  }
}
