.project {
  text-transform: none;
  .project-name {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2em;
  }

  .visibility-wrapper {
    clear: both;
    position: relative;
    padding: 1em;
  }
  p {
    padding-bottom: 1em;
    &:last-child {
      padding-bottom: 0px;
    }
  }

  .project-start, .project-end {
    font-size: 0.8em;
  }
  
}

.project-ctrls {
  margin-bottom: 2em;
  width: 80%;
  margin: 0 auto;
}