.project {
  text-transform: none;
  .project-name {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 2em;
  }

  .visibility-wrapper {
    clear: both;
    position: relative;
    padding: 1em;
  }
  p {
    padding-bottom: 1em;
    &:last-child {
      padding-bottom: 0;
    }
  }

  .project-start, .project-end {
    font-size: .8em;
  }

}

.project-ctrls {
  margin: 0 auto 2em;
  width: 80%;
}
