<section id="bundlesWrapper">
  <div class="spin-fullscreen-wrap" data-ng-if="loading">
    <div class="spinner-wrap">
    </div>
    <i class="material-icons spinner">refresh</i>
  </div>

  <header>
    <h1>Project Submission Bundles</h1>
  </header>

  <ul class="bundles-list"
  data-infinite-scroll="loadMore()"
  data-infinite-scroll-disabled="scrollDisabled"
  data-infinite-scroll-listen-for-event="bundles:reflow"
  >

  <li class="bundle-item"
  data-ng-class="bundlesClasses[$index % bundlesClasses.length]"
  data-ng-repeat="bundle in bundles track by $index"
  ><x-bundle data-data="bundle"></x-bundle>
  </li>
    
  </ul>

</section>