<section class="actions">
  <md-button data-ng-click="showSetTeamsDialog()" class="card">
    <header>
      <h2>Set Teams</h2>
    </header>
    <img src="images/csv_example.png">
    <p>With CSV file (first row must be headers)</p>
  </md-button>

  <md-button data-ng-click="showCreateBundleDialog()" class="card">
  <header>
    <h2>Download Latest submissions of a project</h2>
  </header>
  <img src="images/edna.jpg">
  <p>Time to for paperwork! it's better because it's digital...</p>
  </md-button>
</section>