<md-dialog aria-label="Set Teams" ng-cloak>
<md-dialog-content>
<form
class="creation-dialog-form contract-form"
data-ng-submit="processTeams()"
id="teamsForm"
name="teamsForm"
novalidate
>
  <header>
    <h3>Upload Teams</h3>
  </header>

  <fieldset data-ng-if="!teamData.processing">
    <div class="relative form-line">
      <input class="material-text" ngf-select
      ng-model="teamData.file"
      id="file" name="file"
      >
      <label for="file">File (CSV only)</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !teamsForm.file.$error.required}"
      >This field is required</span>
    </div>
  </fieldset>

<div class="flex-perfect-center-container"
  data-ng-if="!teamData.processing">
  <button type="submit"
  data-ng-disabled="teamsForm.$invalid"
  >Upload
  </button>
</div>

  <fieldset data-ng-if="teamData.processing" class="max-width form-line">
    <div class="max-width flex-perfect-center-container flex-column">
      <md-progress-circular md-mode="determinate"
      value="{{teamData.processedPercentage}}"></md-progress-circular>
      <div class="status">
        <p data-ng-if="teamData.total != 0">{{teamData.processed}}/{{teamData.total}}</p>
        <p data-ng-if="teamData.total == 0">Processing... <i class="material-icons spinner">refresh</i></p>
      </div>
      <div class="messages error">
        <p data-ng-repeat="message in teamData.messages">{{message}}</p>
      </div>
    </div>
  </fieldset>

</form>
</md-dialog-content>
</md-dialog>
