<div class="spin-fullscreen-wrap" data-ng-if="loading">
  <div class="spinner-wrap">
  </div>
  <i class="material-icons spinner">refresh</i>
</div>
<form
class="contract-form"
data-ng-submit="update()"
id="userForm"
name="userForm"
novalidate
>

  <header>
    <h3>User Profile</h3>
  </header>

  <fieldset>
    <div class="relative form-line">
      <input class="material-text" type="email" id="email"
      data-ng-model="user.email"
      data-guc-email
      readonly="true"
      required>
      <label for="email">Email</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.email.$error.required}"
      >This field is required.</span>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.email.$error.guc_email}">
      Must be a valid guc email.
      </span>
    </div>

    <div class="relative form-line">
      <input class="material-text" type="password" id="password" name="password"
      data-ng-model="userData.password"
      data-ng-minlength="2"
      >
      <label for="password">New Password</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.password.$error.minlength}"
      >Must be at least two characters long.</span>
    </div>
    
    <div class="relative form-line">
      <input class="material-text" type="text" id="name" name="name"
      data-ng-model="user.name"
      required>
      <label for="name">Full Name</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.name.$error.required}"
      >
      This field is required.
      </span>
    </div>
  </fieldset>

  <fieldset data-ng-if="user.student">
    <div class="relative form-line">
      <input class="material-text" type="text" id="major" name="major"
      data-ng-model="user.major" required>
      <label for="major">Major</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.major.$error.required}"
      >This field is required.</span>
    </div>

    <div class="relative form-line">
      <input class="material-text" type="text" id="team" name="team"
      data-ng-model="user.team"
      required>
      <label for="team">Team</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.team.$error.required}"
      >This field is required</span>
    </div>

    <div class="relative form-line">
      <input class="material-text" type="text" id="guc_id" name="guc_id"
      data-ng-model="user.guc_id"
      data-guc-id
      required>
      <label for="guc_id">GUC ID</label>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.guc_id.$error.required}"
      >This field is required</span>
      <span class="form-field-error"
      data-ng-class="{hidden: !userForm.guc_id.$error.guc_id}">
      Invalid ID please use the format "28-1337"</span>
    </div>
  </fieldset>

  <fieldset>
    <md-checkbox data-ng-model="user.verified" name="verified">Verified</md-checkbox>
    <md-checkbox data-ng-if="user.teacher" data-ng-model="user.admin" name="superuser">Admin</md-checkbox>
  </fieldset>

  <p class="error">{{error}}</p>
  <div class="flex-perfect-center-container"
  data-ng-class="{hidden: userForm.$pristine}"
  >
    <button type="submit" class="contract-overlay"
    data-ng-disabled="userForm.$invalid"
    data-ng-class="{loading: processing}"
    >
      <span class="label">Update</span>
      <i class="material-icons spinner">refresh</i>
    </button>
  </div>
  
</form>